* {
    font-family: Arial, Helvetica, sans-serif;
    margin: 0px;
    font-style: normal;
    font-size: 18px;
    font-weight: normal;
    text-decoration: none;
}

.top-bar {background-color: black; overflow: hidden}
.top-bar a {
    float: left;
    width: 30%; /* Change depending on different text */
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
    font-size: 17px;
}
.top-bar a:link {color: white;}
.top-bar a:visited {color: white;}
.top-bar a:hover {color: white; text-decoration: underline}
.top-bar a:active {color: white;}

.below-top-bar {
    background-color: #333;
    color: white;
    text-align: center;
    padding: 20px;
    letter-spacing: 0.2em;
}

header {
    background-color: black;
    color: white;
    text-align: center;
    padding: 10px;
    height: 250px;
}

header h1 {
    font-family: Cambria, Cochin, Georgia, Times, Times New Roman, serif;
    font-size: 80px;
    height:200px;
}

#about-header-h1 {
    line-height: 200px;
    font-size: 120px;
}

header h2 {
    font-family: Arial, Helvetica, sans-serif;
    font-size: 30px;
    bottom: 10px;
}

.custom-container {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 30px;
    margin: 0;
}

/*flowchart-container*/

.path {
    line-height: 100px;
    height: 100px;
    background-color: lightgray;
    color: white;
    text-align: center;
}
.path p {
    color: #333;
    font-size: 30px;
}

#flowchart-container {
    font-family: Arial, Helvetica, sans-serif;
    background-color: #FFA860;
    justify-content: space-evenly;
    align-content: space-evenly;
    display: grid;
    padding: 10px;
    grid-template-columns: 10px 200px 200px 200px 200px 10px;
    grid-template-rows: 50px 150px 150px 150px 150px 10px;
}

.state-square, .prompt-square-shape {
    width: 100%;
    height: 100%;
    display: table;
    text-align: center;
    background-color: #FFB074;
    margin-left: auto;
    margin-right: auto;
    border: solid 1px #333;
}

.state-square p , .prompt-square-shape p {
    display: table-cell;
    vertical-align: middle;
    font-size: 30px;
}
.state-square {height: 250px; width: 200px;}

.prompt-square-shape {height: 250px; width: 400px;}

.rewind-button {
    height: 100px;
    width: 150px;
    margin-left: auto;
    margin-right: auto;
}

.choice-button {
    height: 100px;
    width: 200px;
    margin-left: auto;
    margin-right: auto;
}

#state {
    grid-row: 2 / 4;
    grid-column: 2;
}

#prompt-square {
    grid-row: 2 / 4;
    grid-column: 3 / 5;
}

#restart-button {
    font-family: Arial, Helvetica, sans-serif;
    grid-row: 2;
    grid-column: 5;
}

#previous-question-button {
    font-family: Arial, Helvetica, sans-serif;
    grid-row: 3;
    grid-column: 5;
}

#choice-one {
    grid-row: 4;
    grid-column: 2;
}

#choice-two {
    grid-row: 4;
    grid-column: 3;
}

#choice-three {
    grid-row: 4;
    grid-column: 4;
}

#choice-four {
    grid-row: 4;
    grid-column: 5;
}

#choice-five {
    grid-row: 5;
    grid-column: 2;
}

#choice-six {
    grid-row: 5;
    grid-column: 3;
}

#choice-seven {
    grid-row: 5;
    grid-column: 4;
}

#choice-eight {
    grid-row: 5;
    grid-column: 5;
}

/*End of flowchart container*/

/*Start of final-anime-recommendation*/

#final-intro {
    font-size: 50px;
    font-family: Cambria, Cochin, Georgia, Times, Times New Roman, serif;
    background-color: aqua;
    text-align: center;
    height: 300px;
    width: 100%;
    height: 280px;
    line-height: 100px;
}

#final-intro #final-anime-title {
    font-size: 80px;
    font-family: Cambria, Cochin, Georgia, Times, Times New Roman, serif;
    text-align: center;
    padding: 10px;
    height: 10px;
    line-height: 150px;
}

.dot {
    height: 400px;
    width: 400px;
    background-color: #bbb;
    border-radius: 50%;
    display: inline-block;
}

img {
    max-width: 960px;
    max-height: 960px;
    border: solid 5px #333;
    padding: 0;
    background-color: #333;
}

#final-details {
    text-align: center;
    background-color: #FFA860;
    justify-content: space-evenly;
    align-content: space-evenly;
    display: grid;
    padding: 10px;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 430px 1fr 50px 50px 50px 20px;
}

#final-main-character {
    grid-row: 1;
    grid-column: 1;
}

#final-poster {
    grid-row: 2 / 7;
    grid-column: 1;
}

#final-description {
    grid-row: 1 / 3;
    grid-column: 2;
}

#final-genres {
    grid-row: 4;
    grid-column: 2;
}

#final-mal-page {
    grid-row: 5;
    grid-column: 2;
}

#final-restart {
    grid-row: 6;
    grid-column: 2;
}

/*about.html*/
#about-me-container, #about-plan-container, #about-anime-container {
    height: 600px;
}

#about-me-container p, #about-plan-container p, #about-anime-container p {
    font-size: 40px;
    text-align: center;
    max-width: 400px;
}

#about-me-container {
    background-color: #F8FE1E;
}

#about-plan-container {
    background-color: #A7F816;
}

#about-anime-container {
    background-color: #65F2FF;
}